@charset "UTF-8";

/* --------------------- location title --------------------- */
#location-title {
	width: 100%;
	position: relative;
}
.location-title-image {
	width: 100%;
	margin: 0 auto;
}
.location-title-image img {
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #aaaaaa;
}
.location-title-text {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.location-title-text h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
}
.location-title-text span {
	font-size: 1.5rem;
	color: #fff;
	opacity: 0.8;
}

/* --------------------- location sub title --------------------- */
#location-sub-title {
	width: 100%;
	text-align: center;
	margin: 50px auto 0 auto;
}
#location-sub-title h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #333333;
}

/* --------------------- location kakaomap --------------------- */
#kakaomap {
	width: 70%;
	height: 500px;
	margin: 50px auto 0 auto;
	border: 1px solid #aaaaaa;
}

/* --------------------- location info --------------------- */
#location-info {
	width: 70%;
	margin: 50px auto 50px auto;
	border-bottom: 1px solid #aaaaaa;
}
#location-info div {
	margin: 20px 0;
}
#location-info div span {
	font-size: 1.3rem;
}
#location-info div span b {
	font-weight: bold;
}



/* --------------------- 반응형 --------------------- */
@media (max-width: 500px) {
	.location-title-text h2 {
		font-size: 2rem;
	}
	.location-title-text span {
		font-size: 1.2rem;
	}
	.location-title-image img {
		height: 200px;
	}
	#location-sub-title h2 {
		font-size: 2rem;
	}
	#kakaomap {
		width: 90%;
		height: 300px;
		margin: 50px auto 0 auto;
	}
	#location-info {
		width: 90%;
	}
	#location-info div span {
		font-size: 0.9rem;
	}
}


/* Extra small (모바일 - 작은 화면) */
@media (max-width: 575px) {
}

/* Small (모바일 - 일반 크기) */
@media (min-width: 576px) and (max-width: 767px) {
}

/* Medium (태블릿) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Large (작은 데스크탑) */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large (일반 데스크탑) */
@media (min-width: 1200px) {
}