<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="header">
    
        <div class="header">
        
        	<!-- header 아이콘 -->
        	<div class="header-title">
        		<span>Dash Board</span>
        	</div>
        	
        	<!-- header 상단바 -->
        	<div class="header-user">
        		<ul class="header-user-lnb">
        			<li><img th:src="@{/images/admin/login.png}" alt="login image"></li>
        			<li class="header-user-name">user</li>
        			<li><img th:src="@{/images/admin/logout.png}" alt="logout image"></li>
        			<li class="header-user-logout">logout</li>
        		</ul>
        	</div>
        	
        	<!-- header 햄버거바 -->
        	<div class="header-hamburger">
        		<span>☰</span>
        	</div>
        	
        	<!-- header 모바일 상단바 -->
        	<div class="header_lnb_mob">
        		<ul class="lnb_mob">
        			
        		</ul>
        	</div>
        	
        </div>
        
        <!-- common js -->
		<script type="text/javascript" th:src="@{/js/common/admin/fragments/header.js}"></script>
        
    </div>
</html>