<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="menu">
    
        <div class="menu">
        	<!-- menu title -->
        	<div class="menu-title">
        		<span>CeraTST Management</span>
        	</div>
        	<!-- menu list-->
        	<div class="menu-lnb">
        		<ul class="menu-lnbUl">
        		</ul>
        	</div>
        </div>
        
        <!-- menu js -->
		<script type="text/javascript" th:src="@{/js/common/admin/fragments/menu.js}"></script>
    </div>
</html>