<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
	    <form action="/user/new" method="post">
            <input type="text" name="ctUserId" placeholder="이름을 입력해주세요">
            <input type="text" name="ctUserPwd" placeholder="이름을 입력해주세요">
            <input type="text" name="ctUserName" placeholder="이름을 입력해주세요">
            <input type="text" name="ctUserEmail" placeholder="이름을 입력해주세요">
            <input type="text" name="ctUserPhoneNumber" placeholder="이름을 입력해주세요">
            <input type="text" name="ctUserAuthority">
            <button type="submit" >Submit</button>
    	</form>
</div>

</html>