<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.devspring.mapper.BoardMapper">

    <select id="selectBoardList" resultType="com.spring.devspring.dto.BoardDTO">
        SELECT
			ROW_NUMBER() OVER (ORDER BY CT_BOARD_IDX) AS roNum,
			CT_BOARD_IDX AS ctBoardIdx,
			CT_BOARD_ID AS ctBoardId,
			CT_BOARD_SUBJECT AS ctBoardSubject,
			CT_BOARD_NAME AS ctBoardName,
			CT_BOARD_CREATE_DATE AS ctBoardCreateDate
		FROM CT_BOARD
		LIMIT #{begin},#{end}
    </select>
    
    <select id="selectBoardListTotal" resultType="int">
        SELECT COUNT(*)
		FROM CT_BOARD
    </select>
    
</mapper>