<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.devspring.mapper.NoticeMapper">

    <select id="findAll" resultType="com.spring.devspring.dto.NoticeDTO">
        SELECT
			ROW_NUMBER() OVER (ORDER BY CT_NOTICE_IDX) AS roNum,
			CT_NOTICE_IDX AS ctNoticeIdx,
			CT_NOTICE_SUBJECT AS ctNoticeSubject,
			CT_NOTICE_CONTENT AS ctNoticeContent,
			CT_NOTICE_AUTHOR AS ctNoticeAuthor,
			CT_NOTICE_MODIFIER AS ctNoticeModifier,
			CT_NOTICE_CREATE_TIME AS ctNoticeCreateTime,
			CT_NOTICE_UPDATE_TIME AS ctNoticeUpdateTime
		FROM CT_NOTICE
		ORDER BY CT_NOTICE_IDX DESC
		LIMIT #{begin},#{end}
    </select>
    
    <select id="count" resultType="int">
        SELECT COUNT(*)
		FROM CT_NOTICE
    </select>
    
    <select id="findByCtNoticeIdx" resultType="com.spring.devspring.dto.NoticeDTO">
        SELECT
			CT_NOTICE_IDX AS ctNoticeIdx,
			CT_NOTICE_SUBJECT AS ctNoticeSubject,
			CT_NOTICE_CONTENT AS ctNoticeContent,
			CT_NOTICE_AUTHOR AS ctNoticeAuthor,
			CT_NOTICE_MODIFIER AS ctNoticeModifier,
			CT_NOTICE_CREATE_TIME AS ctNoticeCreateTime,
			CT_NOTICE_UPDATE_TIME AS ctNoticeUpdateTime
		FROM CT_NOTICE
		WHERE CT_NOTICE_IDX = #{ctNoticeIdx}
    </select>
    
    <insert id="insertNotice" parameterType="com.spring.devspring.dto.NoticeDTO" useGeneratedKeys="true" keyProperty="ctNoticeIdx">
    INSERT INTO CT_NOTICE (CT_NOTICE_SUBJECT, CT_NOTICE_CONTENT, CT_NOTICE_AUTHOR, CT_NOTICE_MODIFIER, CT_NOTICE_CREATE_TIME, CT_NOTICE_UPDATE_TIME)
    VALUES (#{ctNoticeSubject}, #{ctNoticeContent}, #{ctNoticeAuthor}, '', NOW(), NOW())
</insert>
    
</mapper>