<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <!-- 반응형 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
    <!-- reset css -->
	<link th:href="@{/css/common/fragments/reset.css}" rel="stylesheet">
	<!-- login css -->
	<link th:href="@{/css/view/admin/main/login.css}" rel="stylesheet">
</head>
<body>
	asd

</body>
</html>