<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/user/layout/layout}">

    <div layout:fragment="content">
    
    	<div id="about-title">
    		<div class="about-title-image">
    			<img th:src="@{/images/user/location.png}" alt="about image">
    		</div>
    		<div class="about-title-text">
    			<h2>Company</h2>
    			<span>About us - CeraTST</span>
    		</div>
    	</div>
    	
    	<div id="about-sub-title">
    		<h2>Greetings</h2>
    	</div>
    	
    	<div id="about-sub-content">
    		<table>
    			<colgroup>
				    <col style="width: 15%;">
      				<col style="width: 85%;">
				  </colgroup>
    			<tbody>
    				<tr>
    					<th>Overview</th>
    					<td>
    						<p>DrimSys is an enterprise with four key pillars: dream (D), reliability (R), Ideal/Idea (I), and Man (M). Combined, they form the word Drim, part of our company name.</p>
    						<p>We integrate creative ideas and new technology (IT) to gain control over all device (sensor, equipment, system) information, and provide customers with future-oriented manufacturing automated solutions hoping for their success and improvement.</p>
    						<p>We own the proven technical skills and rich infrastructure to offer various solutions and engineering services.</p>
    					</td>
    				</tr>
    				<tr>
    					<th>Greetings</th>
    					<td>
							<p>Since its establishment in April, 2010, DrimSys Corporation has owned differentiated solutions from HW to SW, examples being equipment automation and factory automation. In addition, we offer various solutions and engineering services to the semi-conductor / FPD / solar sectors based on our new concept, the One Shot Service.</p>
							<p>Hereafter, we promise to stay as competitive as we can to help our customers’ success and development. To achieve this, we will continue to be pioneers of the IoT field specialized in the manufacturing industry through the integration of creative idea and new technologies, and provide to our customers manufacturing industrial equipment / factory automation solutions that are always one step ahead of others.
								Please keep an eye on DrimSys’s significant progress as we embark on a new journey.</p>
							<p>Thank you.</p>
						</td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    	
    	
    </div>

</html>