<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/user/layout/layout}">

    <div layout:fragment="content">
        <div id="board">
        	<!-- board 제목영역 -->
        	<div class="board_title">
        		<span>공지사항</span>
        	</div>
        	<!-- board 검색영역 -->
        	<div class="board_catg_area">
        	</div>
	        <!-- board 테이블영역 -->
	        <div class="board_table_area">
        		<table class="board_table">
	        		<thead>
	        			<tr>
	        				<th>순서</th>
	        				<th>아이디</th>
	        				<th>제목</th>
	        				<th>이름</th>
	        				<th>YN</th>
	        				<th>생성날짜</th>
	        			</tr>
	        		</thead>
	        		<tbody>
	        		
	        		</tbody>
	        	</table>
        	</div>
        	<!-- board 페이징영역 -->
        	<div id="board_page">
	        	<ul class="paging">
	        		
	        	</ul>
	        </div>
        </div>
        
        <!-- board js -->
		<script type="text/javascript" th:src="@{/js/view/user/sub/board.js}"></script>
        
    </div>
</html>