<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout/layout}">

    <div layout:fragment="content">
    
    	<div id="email-title">
    		<div class="email-title-image">
    			<img th:src="@{/images/email.png}" alt="contact image">
    		</div>
    		<div class="email-title-text">
    			<h2>Contact</h2>
    			<span>E-Mail - CeraTST</span>
    		</div>
    	</div>
    	
    	<div id="email-sub-title">
    		<h2>E-Mail</h2>
    		<span>If you have any inquiries, please email us.</span>
    	</div>
    	
    	<div id="email-form">
    		<table>
    			<colgroup>
				    <col style="width: 15%;">
      				<col style="width: 85%;">
				  </colgroup>
    			<tbody>
    				<tr>
    					<th>name<span>*</span></th>
    					<td><input type="text" class="name"></td>
    				</tr>
    				<tr>
    					<th>subject<span>*</span></th>
    					<td><input type="text" class="subject"></td>
    				</tr>
    				<tr>
    					<th>e-mail<span>*</span></th>
    					<td><input type="text" class="email"></td>
    				</tr>
    				<tr>
    					<td colspan="2"><textarea id="content" placeholder="Please write your inquiry"></textarea></td>
    				</tr>
    			</tbody>
    		</table>
    		<input type="button" class="emailBut" value="submit">
    	</div>
    	
				<!-- email js -->
		<script type="text/javascript" th:src="@{/js/view/user/sub/email.js}"></script>
	</div>

</html>