<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="footer">
        <div id="footer">
        	<div>
        		<span>spring</span>
        	</div>
        	<div>
        		<div>22-3 Sindae-ri, Baeksa-myeon, Icheon-si, Gyeonggi-do</div>
        		<div>TEL: 010-5123-4880 | FAX: 031-631-1234</div>
        		<div>E-Mail: aatjxodn22@gmail.com</div>
        		<div>Copyright © 2025 CeraTST.com ㅣALL RIGHTS RESERVED.</div>
        	</div>
        </div>
        
        <!-- common js -->
		<script type="text/javascript" th:src="@{/js/common/user/fragments/footer.js}"></script>
    </div>
</html>