@charset "UTF-8";

/* --------------------- email title --------------------- */
.email-title {
	width: 100%;
	position: relative;
}
.email-title-image {
	width: 100%;
	margin: 0 auto;
}
.email-title-image img {
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #aaaaaa;
}
.email-title-text {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.email-title-text h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: 20px;
}
.email-title-text span {
	font-size: 1.5rem;
	color: #fff;
	opacity: 0.8;
}

/* --------------------- email sub title --------------------- */
.email-title-sub {
	width: 100%;
	text-align: center;
	margin: 50px auto 0 auto;
}
.email-title-sub h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #333333;
	margin-bottom: 20px;
}
.email-title-sub span {
	font-size: 1.4rem;
	opacity: 0.6;
}

/* --------------------- email table form --------------------- */
.email-form {
	width: 100%;
	margin: 50px auto 50px auto;
	text-align: center;
}
.email-form table {
	width: 70%;
	margin: 0 auto;
}
.email-form table tr:first-child {
	border-top: 1px solid #999999;
}
.email-form table tr {
	border-top: 1px solid #dddddd;
	height: 80px;
	line-height: 80px;
}
.email-form table tr th {
	border-right: 1px solid #dddddd;
	background-color: #f6f6f6;
	font-weight: bold;
	font-size: 1.2rem;
}
.email-form table tr th span {
	color: red;
}
.email-form table tr td input {
	outline: none;
    display: block;
	margin: 0 0 0 20px;
	padding: 15px 200px 15px 15px;
	border: 1px solid #dddddd;
	color: #666666;
	font-size: 1.2rem;
}
.email-form table tr td textarea {
	outline: none;
	width: 100%;
	height: 300px;
	border: 1px solid #dddddd;
	margin-top: 20px;
	padding: 10px;
	color: #666666;
	font-size: 1.2rem;
}
.emailBut {
	border: 1px solid #26456d;
	padding: 20px 100px;
	background-color: #26456d;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1.2rem;
}



/* --------------------- 반응형 --------------------- */
@media (max-width: 500px) {
	.email-title-text h2 {
		font-size: 2rem;
	}
	.email-title-text span {
		font-size: 1.2rem;
	}
	.email-title-image img {
		height: 200px;
	}
	.email-title-sub h2 {
		font-size: 2rem;
	}
	.email-title-sub span {
		font-size: 1.2rem;
	}
	.email-form {
		width: 90%;
	}
	.email-form table tr th {
		min-width: 100px;
		font-size: 0.8rem;
	}
	.email-form table tr td input {
		font-size: 0.8rem;
		width: 250px;
	}
}

/* --------------------- 반응형 --------------------- */
/* Extra small (모바일 - 작은 화면) */
@media (max-width: 575px) {
	.about-title-text h2 {
		font-size: 2rem;
	}
	.about-title-text span {
		font-size: 1rem;
	}
	.about-title-image img {
		height: 200px;
	}
	#about-sub-title h2 {
		font-size: 1.5rem;
	}
	#about-sub-content table tr th {
		font-size: 1rem;
	}
	#about-sub-content table tr td p {
		font-size: 0.6rem;
	}
}
/* Small (모바일 - 일반 크기) */
@media (min-width: 576px) and (max-width: 767px) {
	.about-title-text h2 {
		font-size: 2.5rem;
	}
	.about-title-text span {
		font-size: 1.5rem;
	}
	.about-title-image img {
		height: 200px;
	}
	#about-sub-title h2 {
		font-size: 2rem;
	}
	#about-sub-content table tr th {
		font-size: 1rem;
	}
	#about-sub-content table tr td p {
		font-size: 0.7rem;
	}
}
/* Medium (태블릿) */
@media (min-width: 768px) and (max-width: 991px) {
	.about-title-text h2 {
		font-size: 2.5rem;
	}
	.about-title-text span {
		font-size: 1.5rem;
	}
	.about-title-image img {
		height: 200px;
	}
	#about-sub-title h2 {
		font-size: 2rem;
	}
	#about-sub-content table tr th {
		font-size: 1rem;
	}
	#about-sub-content table tr td p {
		font-size: 0.7rem;
	}
}
/* Large (작은 데스크탑) */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Extra large (일반 데스크탑) */
@media (min-width: 1200px) {
}
