<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Spring</title>
    <!-- 반응형 -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!-- slick CDN -->
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    
    <!-- reset css -->
	<link th:href="@{/css/common/admin/fragments/reset.css}" rel="stylesheet">
	<!-- header css -->
	<link th:href="@{/css/common/admin/fragments/header.css}" rel="stylesheet">
	<!-- menu css -->
	<link th:href="@{/css/common/admin/fragments/menu.css}" rel="stylesheet">
	
	<!-- admin main css -->
</head>
<body>

    <div th:replace="common/admin/fragments/header::header"></div>
    
    <div th:replace="common/admin/fragments/menu::menu"></div>

    <div layout:fragment="content" class="content"></div>

</body>
</html>