@charset "UTF-8";

/* --------------------- main slider --------------------- */
#main-slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.main-slider-image {
    width: 100%;
    margin: 0px auto;
    position: relative;
    z-index: 1;
}
.main-slider-image div{
	width: 100%;
}
.main-slider-image div img {
    width: 100%;
    height: 600px;
	border-bottom: 1px solid #aaaaaa;
}
.main-slider-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 슬라이더와 동일한 높이 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    text-align: center;
    pointer-events: none; /* 텍스트가 슬라이더 동작에 영향을 주지 않도록 설정 */
}
.main-slider-text div {
    width: 100%; /* 중앙 정렬 유지 */
}
.main-slider-text1 {
	font-size: 3rem;
	color: #fff;
	margin-bottom: 20px;
}
.main-slider-text2 {
	font-size: 1.5rem; 
	opacity: 0.8;
	color: #fff;
}
.slick-prev, .slick-next {
    z-index: 3;
    cursor: pointer;
}
.slick-prev {
    left: 30px;
}
.slick-next {
    right: 30px;
}

/* --------------------- main service --------------------- */
#main-service {
	width: 100%;
	margin: 0 auto;
}
.main-service-title {
	width: 100%;
	margin: 50px auto 0 auto;
	text-align: center;
}
.main-service-title div {
	padding: 50px 0;
}
.main-service-title div h2 {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.main-service-title div span {
	font-size: 1.5rem;
	opacity: 0.6;
}
.main-service-content {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	flex-wrap: wrap;
	gap: 20px;
}
.main-service-content div {
	min-width: 20%;
	height: 300px;
	text-align: center;
}
.main-service-content img {
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
	background-color: red;
	border: none;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.main-service-content span {
	width: 100%;
}

/* --------------------- main contact --------------------- */
#main-contact {
	width: 100%;
	position: relative;
	margin-top: 100px;
}
.main-contact-image {
	width: 100%;
	height: 400px;
}
.main-contact-image img {
	width: 100%;
	height: 400px;
}
.main-contact-text {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.main-contact-text h2 {
	font-size: 3rem;
	font-weight: bold;
	color: #fff;
	margin-bottom: 50px;
}
.main-contact-text span {
	font-size: 1.7rem;
	color: #fff;
	opacity: 0.8;
}
.main-contact-text div {
	margin-top: 50px;
}
.main-contact-text div input {
	border: 1px solid #26456d;
	padding: 20px 100px;
	background-color: #26456d;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}

/* --------------------- 반응형 --------------------- */
/* Extra small (모바일 - 작은 화면) */
@media (max-width: 575px) {
	.main-slider-image div img {
	    height: 300px;
	}
	.main-slider-image div{
		height: 300px;
	}
	.main-slider-text1 {
		font-size: 2rem;
	}
	.main-slider-text2 {
		font-size: 1rem; 
	}
	.main-service-content div {
		width: 100%;
	}
	.main-service-title div h2 {
		font-size: 1.8rem;
	}
	.main-service-title div span {
		font-size: 1rem;
	}
	.main-contact-text h2 {
		font-size: 1.8rem;
	}
	.main-contact-text span {
		font-size: 0.8rem;
	}
	.main-contact-image {
		height: 300px;
	}
	.main-contact-image img {
		height: 300px;
	}
	.main-contact-text div input {
		font-size: 0.8rem;
		padding: 10px 50px;
	}
}
/* Small (모바일 - 일반 크기) */
@media (min-width: 576px) and (max-width: 767px) {
	.main-slider-image div img {
	    height: 500px;
	}
	.main-slider-image div{
		height: 500px;
	}
	.main-slider-text1 {
		font-size: 2rem;
	}
	.main-slider-text2 {
		font-size: 1rem; 
	}
	.main-service-content div {
		width: 40%;
	}
	.main-service-title div h2 {
		font-size: 2rem;
	}
	.main-service-title div span {
		font-size: 1rem;
	}
	.main-contact-text h2 {
		font-size: 2rem;
	}
	.main-contact-text span {
		font-size: 1.2rem;
	}
	.main-contact-image {
		height: 300px;
	}
	.main-contact-image img {
		height: 300px;
	}
	.main-contact-text div input {
		font-size: 0.9rem;
		padding: 15px 75px;
	}
}
/* Medium (태블릿) */
@media (min-width: 768px) and (max-width: 991px) {
	.main-slider-image div img {
	    height: 500px;
	}
	.main-slider-image div{
		height: 500px;
	}
	.main-slider-text1 {
		font-size: 2.5rem;
	}
	.main-slider-text2 {
		font-size: 1.5rem; 
	}
	.main-service-content div {
		width: 40%;
	}
	.main-service-title div h2 {
		font-size: 2.5rem;
	}
	.main-service-title div span {
		font-size: 1.5rem;
	}
	.main-contact-text h2 {
		font-size: 2.5rem;
	}
	.main-contact-text span {
		font-size: 1.5rem;
	}
	.main-contact-image {
		height: 400px;
	}
	.main-contact-image img {
		height: 400px;
	}
}
/* Large (작은 데스크탑) */
@media (min-width: 992px) and (max-width: 1199px) {
	
}
/* Extra large (일반 데스크탑) */
@media (min-width: 1200px) {
	
}